<!-- <div class="app-class1"></div> -->
<ol>
  <li><p routerLink="class1">Selectors</p></li>
  <li><p routerLink="class2">Interpollation</p></li>
  <li><p routerLink="class3">PropertyBinding</p></li>
  <li><p routerLink="class4">ClassBinding</p></li>
  <li><p routerLink="class5">StyleBinding</p></li>
  <li><p routerLink="class6">EventBinding</p></li>
  <li><p routerLink="class7">Template refrence variables</p></li>
  <li><p routerLink="class8">Two-way data binding</p></li>
  <li><p routerLink="class9">Ng-If directive</p></li>
  <li><p routerLink="class10">Ng-Switch directive</p></li>
  <li><p routerLink="class11">Ng-For directive</p></li>
  <li><p routerLink="class12">Component Interaction</p></li>
  <li><p routerLink="class13">Pipes</p></li>
  <li><p (click)="sendData()">Services</p></li>
  <li><p routerLink="class15">Routing</p></li>
</ol>
<router-outlet></router-outlet>